<!DOCTYPE HTML>
<html>
    <head>
    	<title>Nithin Kumar KV</title>
    	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
    	<meta name="description" content="" />
    	<meta name="keywords" content="" />
    	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,600,700" rel="stylesheet" />
    	<script src="/static/js/jquery.min.js"></script>
    	<script src="/static/js/config.js"></script>
    	<script src="/static/js/skel.min.js"></script>
    	<noscript>
    		<link rel="stylesheet" href="/static/css/skel-noscript.css" />
    		<link rel="stylesheet" href="/static/css/style.css" />
    		<link rel="stylesheet" href="/static/css/style-desktop.css" />
    	</noscript>
    	<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
    	<!--[if lte IE 8]><script src="js/html5shiv.js"></script><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
    	<!--[if lte IE 7]><link rel="stylesheet" href="css/ie7.css" /><![endif]-->
    </head>
	<body>
		<!-- Nav -->
		<nav id="nav">
			<ul class="container">
				<li><a href="#top">About Me</a></li>
				<li><a href="#work">My Works</a></li>
				<li><a href="#contact">Contact Me</a></li>
				<li><a href="/static/resume_nit_tex.pdf" target="_blank">Download CV</a></li>
			</ul>
		</nav>

		<!-- Home -->
		<div class="wrapper wrapper-style1 wrapper-first">
			<article class="container" id="top">
				<div class="row">
					<div class="4u">
						<span class="me image image-full"><img src="/static/images/v4.jpg" alt="" /></span>
					</div>
					<div class="8u">
						<header>
							<h1>Hi. I'm <strong>Nithin</strong></h1>
						</header>
						<p>I’m a technologist and am excited about learning Algorithms, Natural language processing, Machine learning, and innovative software development. I enjoy addressing interesting computational problems and interesting thought experiments.</p>
						<a href="#work" class="button button-big">Learn about what I do !!</a>
					</div>
				</div>
			</article>
		</div>

		
		<!-- Portfolio -->
		<div class="wrapper wrapper-style3">
			<article id="work">
				<header>
					<h2>I design, build amazing things !!</h2>
				</header>
				<div class="container">
					<div class="row">
						<div class="12u">
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<article class="box box-style2">
								<a href="http://www.mobfreesearch.appspot.com" target="_blank" class="image image-full"><img src="/static/images/qpredict.jpg" alt="" /></a>
								<h3><a href="https://github.com/nithin-kumar/question_type_predictor" target="_blank">Question Word Predictor </a></h3>
								<p>A Classification system which which predict the Question word from the given question.It is a Supervised Machine learning prgram which uses Multinomial Naive Bayes to classify the Question.</p>
							</article>
						</div>
						<div class="4u">
							<article class="box box-style2">
								<a href="https://github.com/nithin-kumar/multinomial_bayes_classifier" class="image image-full"><img src="/static/images/doc_classification.jpg" alt="" /></a>
								<h3><a href="https://github.com/nithin-kumar/multinomial_bayes_classifier">Python library for Multi document classification.</a></h3>
								<p>Machine Learning Program to Classify the documents.</p>
							</article>
						</div>
						<div class="4u">
							<article class="box box-style2">
								<a href="https://github.com/nithin-kumar/statistical_machine_translation" class="image image-full"><img src="/static/images/mt.png" alt="" /></a>
								<h3><a href="https://github.com/nithin-kumar/statistical_machine_translation">Machine Translation</a></h3>
								<p>Phrase based statistical machine translation system.</p>
							</article>
						</div>
					</div>
					<div class="row">
						<div class="4u">
							<article class="box box-style2">
								<a href="https://github.com/nithin-kumar/web_crawler" class="image image-full"><img src="/static/images/crawlr.png" alt="" /></a>
								<h3><a href="https://github.com/nithin-kumar/web_crawler">Web Crawler</a></h3>
								<p>This program crawl the web to a specified depth starting from a source page and build index for searching.</p>
							</article>
						</div>
						<div class="4u">
							<article class="box box-style2">
								<a href="https://github.com/nithin-kumar/keyphrase_extractor" class="image image-full"><img src="/static/images/key.png" alt="" /></a>
								<h3><a href="https://github.com/nithin-kumar/keyphrase_extractor">Keyphrase extractor</a></h3>
								<p>Machine Learning Program to Extract keyphrases from multiple documents in parallel.</p>
							</article>
						</div>
						<div class="4u">
							<article class="box box-style2">
								<a href="https://github.com/nithin-kumar/sentiment-analysis"target="_blank" class="image image-full"></a>
								<h3><a href="https://github.com/nithin-kumar/sentiment-analysis" target="_blank">Sentiment analysis on movie reviews.</a></h3>
								<p>This work involve a way of predicting the sentiment of users review on movies. This is a probabilistic way of solving problem using Multinomial Naive Bayes Algorithm.This is a supervised learning algorithm where we supply the right data to learn . This system will model a predictor from the given data and use this prediction model to predict the sentiment of other reviews .</p>
							</article>
						</div>
						And continues.....
					</div>
				</div>
				
			</article>
		</div>

		<!-- Contact -->
		<div class="wrapper wrapper-style4">
			<article id="contact" class="container small">
				<div>
					<div class="row">
						<div class="12u">
							<h3>Find me on ...</h3>
							<ul class="social">
								<li class="twitter"><a href="https://twitter.com/nisk2010" target="_blank" class="fa fa-twitter"><span>Twitter</span></a></li>
								<li class="facebook"><a href="https://www.facebook.com/kvnithinkumar" target="_blank" class="fa fa-facebook"><span>Facebook</span></a></li>
								<li class="linkedin"><a href="http://in.linkedin.com/pub/nithin-kumar/39/36a/553
" target="_blank" class="fa fa-linkedin"><span>LinkedIn</span></a></li>
								<li class="googleplus"><a href="https://plus.google.com/100088252144432062680" target="_blank" class="fa fa-google-plus"><span>Google+</span></a></li>
								<li class="github"><a href="https://github.com/nithin-kumar
" target="_blank" class="fa fa-github"><span>Github</span></a></li>
							</ul>
							<hr/>
						</div>
					</div>
				</div>
				<footer>
					<ul id="copyright">
						<li>&copy; 2017 Nithin Kumar KV</li>
                        <li>Mobile: +919035380643</li>
                        <li>Email: kv.nithin.90@gmail.com</li>
					</ul>
				</footer>
			</article>
		</div>
	</body>
</html>
